/*Inicio archivo Perfil.css*/
.alumnos, .profesor{
    font-size: 18px;
    font-weight: bold;
}
#alumnos{
    width: 300px;
    background-color: #22c55e;
    color: white;
    border-radius: 10px;
    padding: 12px;
    margin: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#profesor{
    width: 300px;
    background-color: #2563eb;
    color: white;
    border-radius: 10px;
    padding: 12px;
    margin: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
#navperfil {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }
a {
      color: #1f2937;
     font-size: 20px;
     font-weight: bold;
     text-decoration: none;
    }
a:hover {
    color: #2563eb;
}
header {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 30px;
}
footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
body{ 
    background-color: #f5f7fa;
    color: #1f2937;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 /*Final archivo Perfil.css*/
 /*Inicio archivo Detalle.css*/
 #navperfil1 ul {
   display: flex;
    justify-content: space-around;
    background-color: white;
    list-style: none;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
/* Contenedor general */
#objetivos-proyecto {
    width: 80%;
    margin: 30px auto;
}

/* Título */
#objetivos-proyecto h3 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #1f2937;
}

/* Cada párrafo  */
#objetivos-proyecto p {
    background: #ffffff;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    border-left: 6px solid #1f2937;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

/* Animación */
#objetivos-proyecto p:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

/* Títulos adentro del cuadro */
#objetivos-proyecto strong {
    display: block;
    margin-bottom: 8px;
    color: #1f2937;
    font-size: 16px;
}
/* enlaces */
#enlaces-proyecto ul {
    display: flex;              /* horizontal */
    justify-content: center;    /* centra */
    gap: 20px;                  /* separación entre botones */
    list-style: none;
    padding: 0;
}


 /*Final archivo Detalles.css*/
 
